@import "./variables";

// layout
@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}
@mixin tablet-inherit {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}
@mixin mobile-inherit {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

// brightness
@mixin brightness-toggle{
  @include brightness-light;
  @include brightness-dark;
}
@mixin brightness-light{
  &.lightMode{
    @include brightness-transition;
    background-color: $color-base-light;
    color: $color-reverse-light;
  }
}
@mixin brightness-dark{
  &.darkMode{
    @include brightness-transition;
    background-color: $color-base-dark;
    color: $color-reverse-dark;
  }
}
@mixin brightness-transition{
  transition: 0.8s ease;
  transition-property: background-color color;
}

// animation
@mixin animation-fade-in($duration){
  animation: fadeIn #{$duration}s ease;
  animation-fill-mode: forwards;
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}
@mixin animation-fade-out($duration){
  animation: fadeOut #{$duration}s ease;
  animation-fill-mode: forwards;
  @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
}